<% stylesheet 'my_games' %>

<h1>Adopt a game made by another teacher</h1>
<fieldset>
	<legend>Search games made by other LinguaZone teachers</legend>
		<%= render :partial => "search_fields" %>
</fieldset>
<br />