<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style type="text/css">
		body{background-color:#1A4D9E;}
		#contentTable{border:0px none #000000;margin-top:10px;}
		.defaultText{font-size:14px;color:#333333;line-height:125%;font-family:Verdana;width:600px;background-color:#B5C5DD;padding:20px;}
		.backgroundTable{background-color:#1A4D9E;}
	</style>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="background-color: #1A4D9E;">

	<table width="100%" cellpadding="10" cellspacing="0" class="backgroundTable" style="background-color: #1A4D9E;">
		<tr>
			<td valign="top" align="center">
				<div style="text-align: left;">
					<a href="http://www.linguazone.com" style="color: #800000;text-decoration: underline;font-weight: normal;">
						<img src="http://linguazone.s3.amazonaws.com/images/newsletter/header.jpg" alt="LinguaZone.com: customized online teaching tools and games" border="0" style="margin: 0; padding: 0;" />
					</a>
				</div>
			</td>
		</tr>
		<tr>
			<td valign="top" align="center">
				<table id="contentTable" cellspacing="0" cellpadding="0" width="600" style="border: 0px none #000000;margin-top: 10px;">
					<tr>
						<td valign="top" class="defaultText" align="left" style="font-size: 14px;color: #333333;line-height: 125%;font-family: Verdana;width: 600px;background-color: #B5C5DD;padding: 20px;">

<p>
	Dear <%= @user.first_name %>,
</p>

<p>
	Your trial at LinguaZone.com is set to expire in four days. Have you tried using games, word lists, and audio blogs with your students yet?
</p>
<p>
	We hope that you will support LinguaZone and sign up for a 12-month subscription to continue using the site with your classes. If you have any questions about subscribing or feedback to share about the site, please reply to this email (info@linguazone.com) or call us directly at 215.948.2153.
</p>

<p>
	many thanks for your support,<br />
	Colin Angevine and Margaret Roberts<br />
	LinguaZone.com
</p>

						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>