---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.reflection.getMethods&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="d09e5b97529e3ace79ad3c0e9f1ea1c2",
        oauth_nonce="kCLUETanrUJmk2Y9ekqTflGhYEc%2B5Url4d4xKYg0YZQ%3D", oauth_signature="1a0f1686c361e083%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1418941991", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"methods":{"method":[{"_content":"flickr.activity.userComments"},{"_content":"flickr.activity.userPhotos"},{"_content":"flickr.auth.checkToken"},{"_content":"flickr.auth.getFrob"},{"_content":"flickr.auth.getFullToken"},{"_content":"flickr.auth.getToken"},{"_content":"flickr.auth.oauth.checkToken"},{"_content":"flickr.auth.oauth.getAccessToken"},{"_content":"flickr.blogs.getList"},{"_content":"flickr.blogs.getServices"},{"_content":"flickr.blogs.postPhoto"},{"_content":"flickr.cameras.getBrandModels"},{"_content":"flickr.camera[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: text=cats&tags=cats&license_id=2&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="d09e5b97529e3ace79ad3c0e9f1ea1c2",
        oauth_nonce="3nR%2F7z1eXKnCRfaskDDjOGM30WaDxmJSP%2FtYsM%2Fs%2FRo%3D", oauth_signature="1a0f1686c361e083%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1418941991", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"photos":{"page":1,"pages":21692,"perpage":100,"total":"2169135","photo":[{"id":"15866828357","owner":"97191400@N07","secret":"3a5bd0bb52","server":"8644","farm":9,"title":"DSC04990.jpg","ispublic":1,"isfriend":0,"isfamily":0},{"id":"16026825156","owner":"127964233@N04","secret":"a141a2e19d","server":"7550","farm":8,"title":"20141211-IMG_1578.jpg","ispublic":1,"isfriend":0,"isfamily":0},{"id":"15865320450","owner":"127964233@N04","secret":"bd41864fb2","server":"7468","farm":8,"title":"20141211-IMG_1590.jpg","ispublic":1,"isfriend":0,"isfamily":0},{"id":"16052531125","owner":"30054343@N07","secret":"3cc702fa40","server":"8653","farm":9,"title":"Christmas
        Puki","ispublic":1,"isfriend":0,"isfamily":0},{"id":"1[...]
