--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/rest/
    body: 
      string: nojsoncallback=1&format=json&method=flickr.reflection.getMethods
    headers: 
      Authorization: 
      - OAuth realm="http://api.flickr.com/services/rest/", oauth_consumer_key="d09e5b97529e3ace79ad3c0e9f1ea1c2", oauth_nonce="ZlLTb25CLHFxoRLF1iGYdv2QDkthsGHi3MTOeub558Q%3D", oauth_signature="34iGwxIE2HpiQYvGyLOr4NAXFMg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1367240577", oauth_token="", oauth_version="1.0"
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"methods\":{\"method\":[{\"_content\":\"flickr.activity.userComments\"}, {\"_content\":\"flickr.activity.userPhotos\"}, {\"_content\":\"flickr.auth.checkToken\"}, {\"_content\":\"flickr.auth.getFrob\"}, {\"_content\":\"flickr.auth.getFullToken\"}, {\"_content\":\"flickr.auth.getToken\"}, {\"_content\":\"flickr.auth.oauth.checkToken\"}, {\"_content\":\"flickr.auth.oauth.getAccessToken\"}, {\"_content\":\"flickr.blogs.getList\"}, {\"_content\":\"flickr.blogs.getServices\"}, {\"_content\":\"flickr.blogs.postPhoto\"}, {\"_content\":\"fl[...]
- request: 
    method: post
    uri: http://api.flickr.com/services/rest/
    body: 
      string: nojsoncallback=1&format=json&tags=cats&license_id=2&text=cats&method=flickr.photos.search
    headers: 
      Authorization: 
      - OAuth realm="http://api.flickr.com/services/rest/", oauth_consumer_key="d09e5b97529e3ace79ad3c0e9f1ea1c2", oauth_nonce="gZ%2FryOCDDVGGyvT0Wafi6rIZOQoBsCeH7WypEeHZBTw%3D", oauth_signature="H9SpyOe2BEg%2FOtQBMTs2oqXLv7Y%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1367240580", oauth_token="", oauth_version="1.0"
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"photos\":{\"page\":1, \"pages\":91613, \"perpage\":100, \"total\":\"9161211\", \"photo\":[{\"id\":\"8691719101\", \"owner\":\"31496263@N00\", \"secret\":\"f545a6bc2f\", \"server\":\"8545\", \"farm\":9, \"title\":\"Mimi\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0}, {\"id\":\"8692839916\", \"owner\":\"55209231@N08\", \"secret\":\"27b2b45c37\", \"server\":\"8543\", \"farm\":9, \"title\":\"Me and the Cat\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0}, {\"id\":\"8691724383\", \"owner\":\"27444690@N08\", \"secret\":\"9cd370be97\", \"server\":\"8117\", \"farm\":9, \"title\":\"April 29, 2013 at 07:37PM\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0}, {\"id\":\"8692843070\", \"owner\":\"31496263@N00\", \"secret\":\"420c571710\", \"server\":\"8538\", \"f[...]
