<% stylesheet "students" %>

<div>
  <h1>Find your class page</h1>
	<p>To get started using LinguaZone.com, you first need to find your class page. Browse or search for your school below.</p>
  <div id="list_states">
	  <%= render :partial => "schools/browse_for_school" %>
	</div>
</div>
