<% stylesheet "students" %>
<% stylesheet "teachers" %>

<div>
	<div class="floatLeft" style="width: 80%">
		<h1>Overview</h1>
		<p>Jump to your class page from here for your LinguaZone games, word lists, and audio blogs.</p>
	</div>
	<div class="floatRight">
		<%= link_to(logout_path, :class => "button") do %>
			<div class="delete_button"><span>logout</span></div>
		<% end %>
	</div>
	<br class="clearFloat" />
</div>

<% unless @registered_courses.empty? %>
	<div id="list_classes">
		<ul>
		<% for reg_course in @registered_courses do %>
			<li><%= link_to reg_course.course.name, :controller => "courses", :action => "show", :id => reg_course.course.id %></li>
		<% end %>
		</ul>
	</div>
<% end %>

<br />
<div align="center">
	<%= link_to :action => "register" do %>
		<div class="big_button" style="width: 300px">
			<span>Register in a new class</span>
		</div>
	<% end %>
</div>
