<h1>Welcome, <%= current_user.first_name %></h1>

<p>Some data right here...</p>
<hr />
<p>View active users</p>
<p>View active schools</p>
<p>Total active subscriptions</p>
<hr />
<p>View recently expired users (last 6 months)</p>
<p>View previously expired users</p>
<hr />
<p>View active trials</p>
<p>View expired trials</p>