<% stylesheet 'my_games' %>

<h1>My games</h1>
<p>Create, edit, and manage your LinguaZone games.</p>

<p>Search through my games from another page...</p>

<div id="listGames">
	<%= render :partial => "game", :collection => @games %>
</div>
