<h1>Edit Game</h1>

<form id="new-game" name="game">
  <div class="actions">
    <div id="nodes"> </div>
    <button class="addNode">Add Question</button>
    <input id="create-game" type="submit" value="Update Game" />
   </div>
</form>

<div id="confirmation" style="display:none">
  Game Updated
</div>

<a href="#/index">Back</a>
