<h1>Edit game_datum</h1>

<form id="edit-game_datum" name="game_datum">
  <div class="field">
    <label for="game_id"> game_id:</label>
    <input type="text" name="game_id" id="game_id" value="<%= game_id %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Game data" />
  </div>

</form>

<a href="#/index">Back</a>