<h1>New game</h1>

<form id="new-game" name="game">

  <div class="actions">
    <div id="nodes">

    </div>

    <button class="addNode">Add Question</button>
    <input type="submit" value="Create Game" />
   </div>

</form>

<a href="#/index">Back</a>
