<div class="errors"></div>

<form id="new-game" name="game">
  <div class="actions">
    <div id="nodes"> </div>
    <a href="#" class="addNode">
			<span>Add another</span>
			<img src="/images/customizer/add_btn.png" alt="+" />
		</a>
		<br class="clearFloat" />
    <input id="metadata-step" type="submit" value="Next step" />
   </div>
</form>
<div id="metadata" style="display: none">
  <label>Describe your game</label>
  <input type="text" value="" id="description_input" />
  <label>Check which classes apply</label>
  <form id="classes_metadata">

  </form>
  <input id="submit_game" type="submit" value="Create Game" />
  <div id="confirmation" style="display:none">
    Game Created
  </div>
</div>


<a href="./select_language?cmzr_type=game">Back</a>
