<h1>New game</h1>

<div class="errors"></div>

<form id="new-game" name="game">
  <div class="actions">
    <div id="nodes"> </div>
    <a href="#" class="addNode">
			<span>Add another</span>
			<img src="/images/customizer/add_btn.png" alt="+" />
		</a>
		<br class="clearFloat" />
    <input id="create-game" type="submit" value="Create Game" />
   </div>
</form>

<div id="confirmation" style="display:none">
  Game Created
</div>

<a href="#/index">Back</a>
