<%= link_to root_path do %>
	<div id="header_home_link"></div>
	<div style="clear:both"></div>
<% end %>

<div>
	<nav class="navbar navbar-default navbar-main">
		<ul class="nav navbar-nav main-navbar-links">
			<li><a href="">HOME</a></li>
			<li><a href="">FEATURES</a></li>
			<li><a href="">PRICES</a></li>
			<li><a href="">LANGUAGES</a></li>
			<li><a href="">ABOUT US</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right main-navbar-links">
			<li><a href="">STUDENTS</a></li>
			<li style="margin-right: 12px"><a href="">TEACHERS</a></li>
		</ul>
	</nav>
</div>
