<%= javascript_include_tag "backbone/linguazone" %>
<h1>Edit your LinguaZone <%= format_cmzr_type(params[:cmzr_type]) %></h1>
<br />

<div id="game-editor" class="customizer" data-game-id="<%=params[:id]%>">
  <div id="customizer"></div>
</div>

