<p>
	Hi <%= @assigned_to %>,<br />
	<strong><%= @descrip %></strong> has a new note available:
</p>

<p>------</p>
<%= @notes %>
<p>------</p>
<br />
<p>
	<a href="beta.linguazone.com/media/edit/<%= @id %>">Click here to go directly to this clip art item</a>
</p>