<p><%= @assigned_to %> uploaded a new clip art item to the database:</p>

<p>
	<strong><%= @descrip %></strong><br />
	<%= @notes %>
</p>
 
<p>
	<a href="beta.linguazone.com/media/edit/<%= @id %>">View this file to write a note or publish</a>
</p>