<% stylesheet 'my_games' %>

<h1>Adopt a word list made by another teacher</h1>
<fieldset>
	<legend>Search word lists made by other LinguaZone teachers</legend>
		<%= render :partial => "search_fields" %>
</fieldset>
<br />