<div id="body">
	<div id="body_header"></div>
	<div class="wrapper">

		<h1 align="center">{{heading}}</h1>
		<p align="center">
			{{heading_description}}
		</p>
		<br />
		<div id="container">
			<div class="customOptions">
				<div ng-show="step==1">
					<label>Select Language</label>
					<br />
					<br />
					<select class="customDropdown" 
							ng-model="language"
							ng-options="language.id as language.name for language in languages"
							ng-change="editXML();">
					</select>
					<br />
					<br />
					<button class="customButton" ng-click="step=2; changeText();">Next</button>
				</div>
				<div ng-show="step==2">
					<label>Name: </label> <input class="customTextbox" type="textfield" ng-change="editXML();" ng-model="activity_name">
					<br />
					<br />
					<label style="padding-left: 61px;">Description: </label> <input class="customTextbox" type="textfield" style="width: 300px;" ng-change="editXML();" ng-model="description_name">
					<br />
					<br />
					<button class="customButton" ng-click="step=1; changeText();">Prevoius</button>
					<button class="customButton" ng-click="step=3; changeText();">Next</button>
				</div>
				<div ng-show="step==3">
					<div ng-repeat="activity in activities" class="customText" style="width: 20%; float: left">
						<a href="" ng-click="leapFrog(activity.swf)"><img type="image" ng-src="/assets/games/{{activity.swf}}/icon-small.jpg" alt="No Image"/></a>
						<br />
						<p>{{activity.name}}</p>
					</div>
					<br />
					<br />
					<button class="customButton" ng-click="step=2; changeText();">Prevoius</button>
				</div>
				<div ng-show="step==4">
					<div ng-repeat="meta in metaData">
						<label>Question: </label> <input class="customTextbox" type="textfield" ng-model="meta.question">
						<label>Answer: </label> <input class="customTextbox" type="textfield" ng-model="meta.response"><br /><br />
					</div>
					<br />
					<button class="customButton" style="background-color: green; border-color: black;" ng-click="addToMeta()">Add Q/A</button>
					<button class="customButton" style="background-color: red; border-color: black;" ng-click="removeFromMeta()">Remove Q/A</button>
					<br />
					<br />
					<br />
					<button class="customButton" style="width: 125px;" ng-click="step=3; changeText();">Prevoius</button>
					<button class="customButton" style="width: 125px;" ng-click="submit()">Create</button>
				</div>
			</div>
			
			<div class="customOptions">
				<textarea rows="20" cols="43" disabled="">
					{{xmlString}}
				</textarea>
				
			</div>
		</div>
	</div>
	<div id="body_footer"></div>
</div>