<% stylesheet 'course' %>
<% content_for :page_script do %>
<script type="text/javascript">
$(function() {
	$("#sortable_list").sortable({
		axis: 'y',
		cursor: 'crosshair',
		items: 'li',
		opacity: 0.4,
		scroll: true,
		update: function(){
		  $.ajax({
		      type: 'post',
		      data: $('#sortable_list').sortable('serialize'),
		      dataType: 'script',
		      complete: function(request){
		          $('#save_and_return_link').effect('highlight', "slow");
		        },
		      url: 'update_game_order'})
		  }
	});
	$("#sortable_list").disableSelection();
})
</script>
<% end %>


<div>
	<div id="order_instructions">
		<h1>Drag and drop your games in order,</h1>
		<p>then <%= link_to "save and return to #{@course.name}", course_path(@course), :id => "save_and_return_link" %> when you are finished.</p>
	</div>
	<br class="clearFloat" />
</div>
<div id="order_games">
	<ul id="sortable_list">
		<% @games.each do |g| %>
			<% unless g.game.nil? %>
				<li id="item_<%= g.id %>">
					<%= image_tag '/games/'+g.game.activity.swf+'/display/icon-small.jpg' %>
					<p><%= g.game.description %></p>
					<br class="clearFloat" />
				</li>
			<% end %>
		<% end %>
	</ul>
</div>

<%# sortable_element(:sortable_list, :update => 'items', :url => {:action => :update_game_order}) %>