<h1>Upgrade to use audio blogs</h1>
<p>Create an audio blog on your class pages to leave messages for your students with text, audio, or both. Students can then create comments on your posts with text and audio to engage you and each other. Connect with your students and continue to practice oral and aural skills outside of the classroom.</p>

<h2>Available for premium subscribers.</h2>
<p>Interested in upgrading? Use the links at the bottom of the <%= link_to "Overview page", teachers_path %> or <%= link_to "contact us", contact_path %> for help.</p>

<h2>And it's easy to use.</h2>
<p>Take a look at this quick tutorial video to get an idea of how easy it is to use audio blogs with your classes.</p>

<br />

<div style="width: 600px; height: 400px; margin: 0px auto;">
	<% # TODO @NOW: What's the best way to embed flash swf's and YouTube swf's in Rails 3.1? I'm not sure my assets are in the right spot %>
</div>