<% stylesheet 'about' %>

<h1>Audio blogs</h1>
<p class="availability_note">Only available with premium subscriptions to LinguaZone.</p>

<br />

<h2>Engage your students in new ways.</h2>
<p>Audio blogs on LinguaZone allow teachers to connect with their students outside of the classroom and continue to work on oral and aural proficiency. Teachers create posts with text, audio, or both, and students then reply with comments that are text and audio, too. These threads of discussion are a great way to keep your students focused in the target language, even when outside of the classroom.</p>

<h2>A new tool with lots of possibilities.</h2>
<p>Audio blogs are like podcasts, but with fewer hassles and more features. Tell your students that their homework is to create a comment describing what they ate for dinner using the new vocabulary they learned, or to listen to your post and record their response as a comment.</p>

<h2>And it's easy to use.</h2>
<p>Watch our simple tutorial video below.</p>

<div style="width: 600px; height: 400px; margin: 0px auto;">
	<object width="600" height="400"><param name="movie" value="http://www.youtube.com/v/mXTyA-Hob1c&hl=en_US&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/mXTyA-Hob1c&hl=en_US&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="600" height="400"></embed></object>
</div>