<% stylesheet 'about' %>

<h1>Tips and tricks</h1>
<p>Learn some strategies for using LinguaZone with your classes. Running into problems and need some help? <%= link_to "Contact us", contact_path %>.
	
<h2>FAQ</h2>
<div id="faq_section">
	<h3>What is the best approach for using LinguaZone.com?</h3>
	<p>What makes LinguaZone.com most unique is that the teacher customizes learning resources based on his/her style of teaching and objectives. Start by creating a game with just two questions at first to get a feel for how the game runs and go from there.</p>

	<h3>What advice do you have for customizing games?</h3>
	<p>Be playful! The games are meant to be fun for students. Keep that in mind when making the games. Don't be afraid of trial and error.  Imagination and creativity are great tools when customizing.</p>

	<h3>Just how much information can I put in a game?</h3>
	<p>Games are customized by the teacher. It's up to you how complex or simple you would like a game to be.<br />Games that at first seem simple, for example a direct translation game using Leap Frog or Mantis, can be made more challenging by asking the students to make an indicative verb subjunctive or by conjugating verbs given a pronoun and an infinitive.</p>

	<h3>What is the best way to set up a matching game?</h3>
	<p>"Bathtub Bubbles" and "Downfall" involve one column of matches and "Cliffhanger" involves two columns of matches. These matching games allow for multi-part questions.  Click on as many "+" signs as  might be needed.  Enter all of the matching sets on both the right and left sides at once.  Enter them out of order if you'd like.  Skip around to enter the words/terms.</p>

	<h3>Any tips for making word lists?</h3>
	<p>Group vocabulary by topic, part of speech, cognates, international words, synonyms, antonyms or gender.  Enter a few sets of words into the left and right columns.  Click “Proceed”, enter the name of the game, check its “Class Page”, click “Save”.   Play the game to ascertain if the words are entered in the appropriate column, left or right.</p>

	<h3>Are there any limits for recording on audio blogs?</h3>
	<p>There is no time or content limit.</p>
</div>
<hr />
<h2>Tutorial videos</h2>
<table id="tutorial_videos">
	<tr>
		<td>
			<h3>Making a class page</h3>
			<iframe width="420" height="315" src="//www.youtube.com/embed/NaOuCuLVNao" frameborder="0" allowfullscreen></iframe>
		</td>
		<td>
			<h3>Making a word list</h3>
			<iframe width="420" height="315" src="//www.youtube.com/embed/B3Z6z37qQ7k" frameborder="0" allowfullscreen></iframe>
		</td>
	</tr>
	<tr>
		<td>
			<h3>Making an audio blog</h3>
			<iframe width="420" height="315" src="//www.youtube.com/embed/RHZHJ3OvKK4" frameborder="0" allowfullscreen></iframe>
		</td>
		<td>
			<h3>Registering as a student</h3>
			<iframe width="420" height="315" src="//www.youtube.com/embed/vHf8hUGe7Go" frameborder="0" allowfullscreen></iframe>
		</td>
	</tr>
</table>