<% content_for :page_script do %>
<script type="text/javascript">

$(function() {
	$("#overview_link").hide();
	$("#overview_link").click(function() {
		showOverview();
	})
})

function showTutorial(type) {
	
	if (type == "games") {
		var swf = '<object width="600" height="400"><param name="movie" value="http://www.youtube.com/v/_paBk49B1wc&hl=en_US&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/_paBk49B1wc&hl=en_US&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="600" height="400"></embed></object>';
		var descrip = "<h2>Now watching: Customizing your own games on LinguaZone.com</h2><p>Choose from over 20 templates to create your own colorful, engaging games to challenge your students at school or home.</p>";
	} else if (type == "word_lists") {
		var swf = '<object width="600" height="400"><param name="movie" value="http://www.youtube.com/v/lRvF8QiI-LQ&hl=en_US&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/lRvF8QiI-LQ&hl=en_US&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="600" height="400"></embed></object>';
		var descrip = "<h2>Now watching: Customizing word lists on LinguaZone.com</h2><p>Create powerful study tools to help your students with vocabulary, whether online or offline.</p>";
	} else if (type == "audio_blog") {
		var swf = '<object width="600" height="400"><param name="movie" value="http://www.youtube.com/v/mXTyA-Hob1c&hl=en_US&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/mXTyA-Hob1c&hl=en_US&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="600" height="400"></embed></object>';
		var descrip = '<h2>Now watching: Creating an audio blog on LinguaZone.com</h2><p>Create posts with text, audio, or both, and give your students a chance to comment on your posts with audio, too. A whole new way to interact outside of the classroom.</p>';
	}
	
	$("#player").html(swf);
	$("#now_playing").html(descrip);
	$("#overview_link").slideDown();
}
function showOverview() {
	$("#player").html('<object width="600" height="400"><param name="movie" value="http://www.youtube.com/v/BkhFTVcrUbQ&hl=en_US&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6&autoplay=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/BkhFTVcrUbQ&hl=en_US&fs=1&rel=0&color1=0x2b405b&color2=0x6b8ab6&autoplay=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="600" height="400"></embed></object>');
	$("#now_playing").html('<h2>Now watching: Highlight reel of LinguaZone games</h2><p>Take a quick look at a number of different games customized by world language teachers.</p>');
	$("#overview_link").slideUp();;
}

</script>
<% end %>
<% stylesheet 'about' %>

<h1 align="center">Step 1: Choose your game</h1>
<p align="center">
	Select a game for which you want to generate the XML.
	<%= link_to "Watch the overview video again.", {}, :id => "overview_link" %>
</p>
<br />
<div id="container">
	<table>
		<tr>
			<td class="customText">
				<input type="image" src="/assets/games/alphabetTree/icon.jpg" disabled="">
				<br />
				<p>Alphabet Tree</p>
			</td>
			<td class="customText">
				<input type="image" src="/assets/games/bathtubBubbles/icon.jpg" disabled="">
				<br />
				<p>Bath Tub Bubbles</p>
			</td>
			<td class="customText">
				<input type="image" src="/assets/games/cliffhanger/icon.jpg" disabled="">
				<br />
				<p>Cliffhanger</p>
			</td>
			<td class="customText">
				<input type="image" src="/assets/games/downfall/icon.jpg" disabled="">
				<br />
				<p>Downfall</p>
			</td>
			<td class="customText">
				<input type="image" src="/assets/games/ferrisWheel/icon.jpg" disabled="">
				<br />
				<p>Ferris Wheel</p>
			</td>
			<td class="customText">
				<input type="image" src="/assets/games/fishing/icon.jpg" disabled="">
				<br />
				<p>Fishing</p>
			</td>
		</tr>

		<tr>
			<td class="customText">
				<input type="image" src="/assets/games/gardenGrows/icon.jpg" disabled="">
				<br />
				<p>Garden Grows</p>
			</td>
			<td class="customText">
				<input type="image" src="/assets/games/leapFrog/icon.jpg" disabled="">
				<br />
				<p>Leap Frog</p>
			</td>
			<td class="customText">
				<input type="image" src="/assets/games/magnetized/icon.jpg" disabled="">
				<br />
				<p>Magnetized</p>
			</td>
			<td class="customText">
				<input type="image" src="/assets/games/mantis/icon.jpg" disabled="">
				<br />
				<p>Mantis</p>
			</td>
			<td class="customText">
				<input type="image" src="/assets/games/numberPop/icon.jpg" disabled="">
				<br />
				<p>Number Pop</p>
			</td>
			<td class="customText">
				<input type="image" src="/assets/games/onTheAir/icon.jpg" disabled="">
				<br />
				<p>On The Air</p>
			</td>
		</tr>

		<tr>
			<td class="customText">
				<input type="image" src="/assets/games/oracle/icon.jpg" disabled="">
				<br />
				<p>Oracle</p>
			</td>
			<td class="customText">
				<input type="image" src="/assets/games/pokerPairs/icon.jpg" disabled="">
				<br />
				<p>Poker Paris</p>
			</td>
			<td class="customText">
				<input type="image" src="/assets/games/quizShow/icon.jpg" disabled="">
				<br />
				<p>Quiz Show</p>
			</td>
			<td class="customText">
				<input type="image" src="/assets/games/sentenceSwiper/icon.jpg" disabled="">
				<br />
				<p>Sentence Swiper</p>
			</td>
			<td class="customText">
				<input type="image" src="/assets/games/shopping/icon.jpg" disabled="">
				<br />
				<p>Shopping</p>
			</td>
			<td class="customText">
				<input type="image" src="/assets/games/slingshot/icon.jpg" disabled="">
				<br />
				<p>Slingshot</p>
			</td>
		</tr>

		<tr>
			<td class="customText">
				<input type="image" src="/assets/games/splat/icon.jpg" disabled="">
				<br />
				<p>splat</p>
			</td>
			<td class="customText">
				<input type="image" src="/assets/games/swish/icon.jpg" disabled="">
				<br />
				<p>Swish</p>
			</td>
			<td class="customText">
				<input type="image" src="/assets/games/thumper/icon.jpg" disabled="">
				<br />
				<p>Thumper</p>
			</td>
		</tr>

	</table>
</div>


<br /><br />
<p align="center">Get started in just a few minutes with a <%= link_to "free 2-week trial", trial_path %> or <%= link_to "learn more about LinguaZone", :action => "features" %>.</p>
