<% stylesheet 'about' %>

<h1>Track student participation</h1>
<p class="availability_note">Only available with premium subscriptions to LinguaZone.</p>

<br />

<h2>Check who is playing the games and who isn't</h2>
<p>This opens up a great possibility of assigning this for homework, doing other things. Let the parents know and encourage the parents to get involved, too. It's also easy to tell which students are participating on the audio blogs by just looking for their comments.</p>

<h2>Check their scores</h2>
<p>See which students are scoring well on some games, and not so well on other games. But keep in mind that these are <em>games</em>, and students frequently treat them accordingly. Tracking student scores is a good barometer for the class's general understanding, but it is not solid ground for giving out grades!</p>

<h2>And it's easy to use.</h2>
<p>Watch our quick tutorial video below to see just how easy it is.</p>
<div style="width: 600px; height: 400px; margin: 0px auto; background-color: black"></div>