/* --------------
      Index
   -------------- */
#container {
	border: 1px solid #4A9130;
}
#player {
	float: left;
	width: 600px;
	height: 400px;
	background-color: #000;
}
#categories {
	float: right;
	width: 279px;
	height: 396px;
	border: 2px solid #4A9130;
	background-color: #59D62B;
}
#categories h2 {
	margin-top: 0px;
	padding-top: 0px;
	color: #FFF;
	text-shadow: 2px 2px 2px #333;
}
#categories p {
	color: #000;
}
#categories a {
	color: #194BA0
}
.category {
	padding: 12px 10px 13px 10px;
	border-bottom: 1px solid #4A9130;
}
.category p.links {
	font-size: .9em;
}
#game_previews {
	float: right;
	width: 263px;
	padding: 0px 10px;
}
#viewport {
	width: 250px;
	height: 270px;
	overflow: auto;
	margin: 0 auto;
	text-align: left;
}
#viewport img {
	border-width: 0; /* remove a link border on images */
}
/* --------------
      Features
   -------------- */
.feature_left {
	float: left;
	width: 600px;
}
.feature_pic_left {
	float: left;
	margin-top: 12px;
}
.feature_right {
	float: right;
	width: 600px;
}
feature_pic_right {
	float: right;
	margin-top: 12px;
}
p.availability_note {
	font-size: .85em;
	color: #666;
}

/* --------------
      Pricing
   -------------- */
.free_trial_banner {
	width: 868px;
	height: 97px;
	margin: 0px auto;
	padding: 0px auto;
	background: url('../images/about/pricing/free_trial.gif') no-repeat;
}
.sign_up_details {
	float: left;
	padding: 15px 50px;
}
.free_trial_banner h1 {
	color: #FFFFFF;
	font-size: 2.3em;
}
.free_trial_banner p {
	padding: 0px;
	margin: 0px;
	color: #FFFFFF;
}
.sign_up_button {
	float: right;
}
.sign_up_button p {
	margin-top: 28px;
	margin-right: 125px;
}
.sign_up_button a {
	font-size: 2em;
	color: #FFFFFF;
	text-shadow: 2px 2px 2px #993300;
	text-decoration: none;
}
table {
	margin: 20px 0px;
}
table td {
	padding: 8px;
}

table#pricing_table td {
	border-bottom: 1px dotted #999;
}

table#sign_up_basic td {
	border-right: 1px dotted #999;
}
table#sign_up_premium td {
	border-right: 1px dotted #999;
}
/* --------------
      Languages
   -------------- */
#languages ul {
	width: 650px;
	margin: 20px auto;
	padding: 0;
	list-style: none;
}
#languages ul li {
	float: left;
	margin-top: 20px;
/*	padding: 20px;*/
}


/* --------------
      About us
   -------------- */
#contact_form {
	float: left;
	width: 580px;
}
#contact_form textarea {
	width: 415px;
	height: 150px;
}
#contact_details {
	float: right;
	width: 280px;
}