ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
	display: inline;
}
fieldset {
	padding: 10px;
	margin: 20px auto;
	width: 800px;
}

#school_info h1 {
	float: left;
}
#school_info p {
	float: right;
	font-size: .9em;
	font-family: Trebuchet MS, Times, serif;
	text-align: right;
	color: #003399;
}
#settings {
	margin: 10px 15px 10px 11px;
	padding: 10px 25px 10px 40px;
	background-color: #FFEFD5;
}
#settings h2 {
	color: #454545;
}
#settings ul {
	margin-left: 30px;
}
#settings ul li {
	margin-right: 30px;
}
p.note {
	font-size: .8em;
	color: #666;
}
#login_explanation {
	font-size: .7em;
	color: #999;
	padding: 5px;
	position: relative;
	top: -5px;
}
#login_details table {
	width: 90%;
	padding: 10px;
}
#login_details table td input[type="text"], #login_details table td input[type="checkbox"] {
	position: relative;
	top: -5px;
}
#login_details table td:first-child {
	width: 63%;
	padding: 0px 5px 10px 0px;
}
#login_details table tr:last-child td {
	text-align: center;
}
.section_header {
	background-color: #FF6600;
	height: 38px;
	margin: 20px 14px 20px 10px;
}
.section_header h2 {
	float: left;
	padding: 10px 20px 0px 35px;
	color: #FFFFFF;
	text-shadow: 2px 2px 2px #663366;
}
.section_header div.add {
	float: right;
	margin-top: 5px;
	background: url('../images/courses/show/section_header_add.gif') right top no-repeat;
	color: #009900;
}
.section_header div.order {
	float: right;
	margin-top: 5px;
	background: url('../images/courses/show/section_header_order.gif') right top no-repeat;
	color: #009900;
}
.section_header div.add p, .section_header div.order p {
	text-align: right;
	width: 137px;
	margin-top: 4px;
	margin-right: 12px;
}
.section_header div.add p a, .section_header div.order p a {
	color: #009900;
	padding: 2px 2px 2px 50px;
}


.available_item, .available_item_controls, .available_post, .available_post_controls {
	margin-left: 30px;
	height: 170px;
	position: relative;
}
.available_item img, .available_item_controls img {
	float: left;
}
.available_item p, .available_item_controls p {
	position: absolute;
	left: 165px;
	top: 25%;
}
.available_post p, .available_post_controls p {
	position: absolute;
	left: 165px;
	top: 20%;
}
.available_item  ul, .available_post ul {
	display: none;
}
.available_item_controls ul, .available_post_controls ul {
	display: block;
	background-color: #FFEFD5;
	padding: 10px;
	margin-bottom: 15px;
}
.available_item_controls li, .available_post_controls li {
	padding: 10px;
}
.available_post h3, .available_post_controls h3 {
	display: inline;
}
.available_post span.date, .available_post_controls span.date {
	color: #4A9130;
	margin-left: 30px;
}

.hidden_item {
	margin-left: 10px;
}
.hidden_item div.details {
	float: left;
}
.hidden_item div.details img {
	float: left;
}
.hidden_item div.details p {
	float: left;
	padding-top: 15px;
	padding-left: 40px;
	margin-bottom: 20px;
}
.hidden_item div.controls {
	float: right;
	padding-top: 10px;
	padding-right: 10px;
}

#order_instructions {
	float: left;
	width: 600px;
}
#order_saved {
	float: right;
	padding-right: 50px;
}
#order_games ul {
	margin: 20px 0px 0px 20px;
}
#order_games ul li {
	display: block;
	cursor: move;
}
#order_games ul li img {
	float: left;
}
#order_games ul li p {
	position: relative;
	top: 8px;
	left: 30px;
}