#languages ul {
	width: 450px;
	margin: 20px auto;
	padding: 0;
	list-style: none;
}
#languages ul li {
	float: left;
	width: 120px;
	height: 60px;
}
#languages ul li a {
	font-size: 1.3em;
	display: block;
	padding: 20px;
}
#languages ul li a:hover {
	color: #FFF;
	background-color: #FF6600;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			STEP 1
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
div.activity {
	float: left;
	width: 250px;
	margin: 15px;
	padding: 5px;
	border: 1px solid red;
}
div.activity h3 {
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 5px;
}
div.activity div.icons {
	float: left;
	width: 120px;
	padding: 5px;
}
div.activity div.detail {
	float: left;
	background-color: #ccc;
}
div.activity div.detail p {
	padding: 3px;
	background-color: white;
}
div.activity p.confirm_step_one { 
	text-align: center 
}
div.activity p.confirm_step_one a {
	color: #70a845;
	text-decoration: none;
}
div.selected_banner {
	background-color: #edf0f9;
	margin-bottom: 20px;
}
div.selected_banner img {
	float: left;
	padding: 10px;
}
div.selected_banner ul {
	width:800px;
	overflow:hidden;
}
div.selected_banner ul li {
	float:left;
	width: 45%;
	margin-left: 15px;
	list-style-type: disc;
	line-height:1.5em;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			STEP 2
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
div#nodes input, div#example_node input {
	padding: 3px;
	width: 200px;
}
div.node {
	position: relative;
}
div#example_node {
	background-color: #cacaca;
	width: 900px;
	/*position: relative;
	left: -10px;*/
	border: 1px solid #ccc;
	height: 120px;
}
div.stick_to_top {
	position: fixed;
	top: 0;
	z-index: 100;
}
div#example_node label {
	font-size: 1.3em;
}
div#example_node p.hint {
	font-size: .9em;
	color: #666;
	padding: 0px;
	margin-bottom: 5px;
}
div#example_node input[type="text"] {
	font-style: italic;
	color: #666;
}
div#example_node div.highlight {
	background-color: yellow;
}
div#nodes div.node div.controls {
	float: right;
}
div.node div.lzinput {
	border: none;
	padding: 0;
	background: none;
}
div.node ul li {
	font-size: .7em;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			Game input
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
div.leapFrog div.node {
	padding: 10px;
	height: 80px;
}
div.leapFrog div.node div.question {
	position: absolute;
}
div.leapFrog div.node div.response {
	position: absolute;
	left: 300px;
}