#languages ul {
	width: 450px;
	margin: 20px auto;
	padding: 0;
	list-style: none;
}
#languages ul li {
	float: left;
	width: 120px;
	height: 60px;
}
#languages ul li a {
	font-size: 1.3em;
	display: block;
	padding: 20px;
}
#languages ul li a:hover {
	color: #FFF;
	background-color: #FF6600;
}

.errors {
  padding: 20px;
  color: #900;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			STEP 1
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
div.activity {
	float: left;
	width: 250px;
	margin: 15px;
	padding: 5px;
	border: 1px solid red;
}
div.activity h3 {
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 5px;
}
div.activity div.icons {
	float: left;
	width: 120px;
	padding: 5px;
}
div.activity div.detail {
	float: left;
	background-color: #ccc;
}
div.activity div.detail p {
	padding: 3px;
	background-color: white;
}
div.activity p.confirm_step_one { 
	text-align: center 
}
div.activity p.confirm_step_one a {
	color: #70a845;
	text-decoration: none;
}
div.selected_activity_banner {
	border: none;
	background-color: #edf0f9;
	margin-bottom: 20px;
	width: 835px;
	max-height: 185px;
	overflow-y: scroll;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			STEP 2: Input elements
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
div#nodes input, div#example_node input {
	padding: 3px;
	width: 200px;
}
div#examples {
	background-color: #FAF9F0;
	width: 857px;
	padding: 20px;
	position: relative;
	left: -9px;
	border-top: 1px solid #F5EE93;
	border-bottom: 1px solid #F5EE93;
}
div.stick_to_top {
	position: fixed;
	top: 0;
	z-index: 100;
}
div#examples label {
	font-size: 1.3em;
}
div#examples p.hint {
	font-size: .9em;
	color: #666;
	padding: 0px;
	margin-bottom: 5px;
}
div#examples input[type="text"] {
	font-style: italic;
	color: #666;
}
div#examples div.highlight {
	background-color: yellow;
}
div#quick_character_section {
	background-color: blue;
	margin: 0px 50px;
	padding: 5px;
}
div#quick_character_section button {
	font-size: 1.1em;
	padding: 2px;
	margin: 0px 1px;
}
div#nodes div.controls_wrapper {
	float: right;
	padding-right:20px;
}
div.lz_input {
	border: none;
	padding: 0;
	background: none;
}
ul.lz_input_toggle {
	width: 250px;
}
ul.lz_input_toggle li {
	font-size: .7em;
}
div#nodes > div {
	padding: 10px;
}
div#nodes input, div#examples input {
	width: 249px;
}
div.lz_input_image, div.lz_input_audio {
	width: 256px;
	font-size: .85em;
}
div.lz_input_image > input[type="text"] {
	font-size: .9em;
	width: 165px;
	color: #cacaca;
}
div.lz_input_image > input[type="submit"] {
	font-size: .95em;
	width: 65px;
}
div.lz_input_audio {
	height: 100px;
	border: 1px solid #ff6600;
	border-bottom-right-radius: 0px;
	-khtml-border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	-khtml-border-bottom-left-radius: 0px;
}
div.actions a.addNode {
	text-decoration: none;
	color: #0da606;
	display: block;
	float: right;
	padding: 0 10px 10px 10px;
}
div.actions a.addNode:hover {
	background-color: #ebf6ea;
}
div.actions a.addNode img {
	position: relative;
	top: 10px;
}
div.actions a.addNode span {
	position: relative;
	top: -10px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			Activity type inputs
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

div.question, div.response {
	float: left;
}
div.response {
	margin-left: 50px;
}
/*
div#nodes > div > div.question, div.leapFrog div.question {
	position: absolute;
}
div#nodes > div > div.response, div.leapFrog div.response {
	position: absolute;
	left: 600px;
}
*/
div#nodes > div:last-child {
	margin-bottom: 50px;
}

.thumb {
  width: 300px;
  height: 150px;
  overflow: hidden;
}

.thumb img {
  width: 300px;
}

.small-thumb {
  width: 100px;
  height: 75px;
  overflow: hidden;
  float: left;
  cursor: pointer;
}

