#categories button {
  padding: 10px;
  font-size: 1.1em;
  cursor: pointer;
}

#categories {
  float: right;
  padding-right: 20px;
}

.activity h2 a {
  text-decoration: none;
  color: #194BA0;
}

#categories:after, .clear {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.body .mix {
  display: none;
}

#languages ul {
	width: 450px;
	margin: 20px auto;
	padding: 0;
	list-style: none;
}
#languages ul li {
	float: left;
	width: 120px;
	height: 60px;
}
#languages ul li a {
	font-size: 1.3em;
	display: block;
	padding: 20px;
}
#languages ul li a:hover {
	color: #FFF;
	background-color: #FF6600;
}

.errors {
  padding: 20px;
  color: #900;
}
.step_header {
	font-size: 40px;
	display: inline-block;
	vertical-align: middle;
}
#step1_title {
  padding-left: 20px;
}
.activity-wrapper #step1_title {
  padding-left: 0px;
}
.page_break {
	width: 96%;
	margin: 0 auto;
	height: 1px;
	background: #000;
	margin-top: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~  
			STEP 1
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
div.activity {
	display: inline-block;
	width: 30%;
	margin: 1%;
	padding: 15px 3px 3px 3px;
	box-sizing: border-box;
	position: relative;
  border-radius: 10px;
	min-height: 160px;
	transition: background .3s;
}

div.activity-wrapper div.selected_activity {
	background-color: #FAF9F0;
	width: 857px;
	padding: 20px;
	position: relative;
	left: -9px;
	border-top: 1px solid #F5EE93;
	border-bottom: 1px solid #F5EE93;
}
div.activity-wrapper h4 {
	font-size: 1.5em;
}
div.activity-wrapper div.circle_icon {
  width: 150px;
  height: 150px;
  display: inline-block;
}
div.activity-wrapper div.activity_info {
  display: inline-block;
  width: 700px;
  vertical-align: top;
}
div.activity-wrapper div.activity_info h2 {
  padding-top: 0px;
  display:inline;
  margin-right: 20px;
}
div.activity-wrapper div.activity_info button {
  font-size: .9em;
  padding: 5px;
}
div.activity-wrapper {
  margin-bottom: 30px;
}
div.activity:hover {
	border: 2px solid #f7f7f7;
	cursor: pointer;
  padding: 13px 1px 1px 1px;
}
div.activity:hover h2 {
  text-decoration: underline;
	text-shadow: 0px 0px 4px #fff742;
}
div.activity > div.game_title {
  padding-left: 60px;
  position: relative;
  top: -20px;
}
div.video-link a {
  padding: 5px;
  font-size: .95em;
  color: #5786d6;
  text-decoration: none;
}
div.video-link a:hover {
  color: #ff6600;
}
div.selected_activity div.video-link {
  padding-left: 10px;
}
div.activity h3 {
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 5px;
}
div.activity div.icons {
	padding: 5px;
	display: inline-block;
}
div.activity div.icons a {
	color: #000;
	text-decoration: none;
}
div.selected_activity_banner h2 {
	position: absolute;
	top: 10px;
	left: 30px;
}
div.activity_details {
	box-sizing: border-box;
	text-align: left;
}
div.activity div.detail {
	float: left;
	background-color: #ccc;
}
div.activity div.detail p {
	padding: 3px;
	background-color: white;
}
div.activity p.confirm_step_one { 
	text-align: center 
}
div.activity p.confirm_step_one a {
	color: #70a845;
	text-decoration: none;
}
div.selected_activity_banner {
	border-top: 1px solid #92F5F5;
	border-bottom: 1px solid #92F5F5;
	margin: 0px;
	margin-bottom: 20px;
	width: 835px;
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
}
div#change_game {
	display: none;
	vertical-align: middle;
}
div#change_game:hover {
	cursor: pointer;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			STEP 2: Input elements
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
label.preview_question {
	font-weight: bold;
	font-size: 18px;
	font-style: italic;
}
div.answer_list_preview {
	display: block;
}
div.answer_list_preview div.answer_preview {
	display: block;
	font-size: 14px;
	font-weight: normal;
}
div.answer_list_preview div.answer_preview span {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #00B347;
	width: 14px;
	height: 14px;
	display: inline-block;
	vertical-align: middle;
}
div.answer_list_preview div.correct_answer > span {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #00B347;
	background: #00B347;
	width: 14px;
	height: 14px;
	display: inline-block;
	vertical-align: middle;
}
div.step-2 span#question_text {
	font-style: italic;
}
div#nodes label.wizard {
	display: block;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 8px;
}
div#nodes a.next, div#nodes a.previous {
	display: inline-block;
	width: 85px;
	text-align: center;
	height: 40px;
	box-sizing: border-box;
	padding: 10px;
	background: #FF6600;
	color: #fff;
	margin-top: 10px;
}
div#nodes a.next:hover, div#nodes a.previous:hover {
	color: #FF6600;
	background: #ededed;
	cursor: pointer;
}
div#examples div.delete {
	display: none;
}
div.node {
	width: auto;
	border-bottom: 1px dotted #333;
}
div.delete:hover {
	cursor: pointer;
}
div#nodes input, div#example_node input, #metadata input[type='text'] {
	padding: 3px;
	width: 200px;
}
div#examples {
	background-color: #FAF9F0;
	width: 857px;
	padding: 20px;
	position: relative;
	left: -9px;
	border-top: 1px solid #F5EE93;
	border-bottom: 1px solid #F5EE93;
}
div.stick_to_top {
	position: fixed;
	top: 0;
	z-index: 100;
}
div.node input, #metadata textarea, #metadata input[type='text'] {
	border: 2px solid #999;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 3px;
	outline: none;
}
div#examples label {
	font-size: 1.3em;
}
div#examples p.hint {
	font-size: .9em;
	color: #666;
	padding: 0px;
	margin-bottom: 5px;
}
div#examples input[type="text"] {
	font-style: italic;
	color: #666;
}
div#examples input.highlight {
	background-color: #FDFCF9;
	border: 2px solid #F5EE93;
}
div#quick_character_section {
	background-color: blue;
	margin: 0px 50px;
	padding: 5px;
}
div#quick_character_section button {
	font-size: 1.1em;
	padding: 2px;
	margin: 0px 1px;
}
div#nodes div.controls_wrapper {
	//float: right;
	//padding-right:20px;
	padding-left: 20px;
	display: inline-block;
	vertical-align: middle;
}
div.lz_input {
	border: none;
	padding: 0;
	background: none;
}
ul.lz_input_toggle {
	width: 250px;
}
ul.lz_input_toggle li {
	font-size: .7em;
}
div#nodes > div {
	padding: 10px;
}
div#nodes input, div#examples input {
	width: 249px;
}
div.lz_input_image, div.lz_input_audio {
	width: 256px;
	font-size: .85em;
}
div.lz_input_image > input[type="text"] {
	font-size: .9em;
	width: 165px;
	color: #cacaca;
}
div.lz_input_image > input[type="submit"] {
	font-size: .95em;
	width: 65px;
}
div.lz_input_audio {
	height: 100px;
	border: 1px solid #ff6600;
	border-bottom-right-radius: 0px;
	-khtml-border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	-khtml-border-bottom-left-radius: 0px;
}
div.actions a.addNode {
	text-decoration: none;
	color: #0da606;
	display: block;
	float: right;
	padding: 0 10px 10px 10px;
  cursor: pointer;
  border: 2px solid #ebf6ea;
  border-radius: 3px;
}
div.actions a.addNode:hover {
	background-color: #ebf6ea;
}
div.actions a.addNode img {
	position: relative;
	top: 10px;
}
div.actions a.addNode span {
	position: relative;
	top: -10px;
}
a.text-link, a.image-link, a.audio-link {
	background: #FAF9F0;
	margin-top: 2px;
	padding: 3px;
	font-size: 12px;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
}
textarea.create_option_set {
	height: 100px;
	padding: 5px;
	font-size: .9em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			jQuery UI overrides
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.ui-widget-overlay {
   position: fixed;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			Activity type inputs
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
div.question, div.response {
	//float: left;
	display: inline-block;
	vertical-align: middle;
}

div.question-label, div.response-label {
  float: left;
  height: 20px;
  width: 320px;
}

div.response {
	margin-left: 50px;
}
/*
div#nodes > div > div.question, div.leapFrog div.question {
	position: absolute;
}
div#nodes > div > div.response, div.leapFrog div.response {
	position: absolute;
	left: 600px;
}
*/
div#nodes > div:last-child {
	margin-bottom: 50px;
}

.thumb {
  width: 300px;
  height: 150px;
  overflow: hidden;
}

.thumb img {
  width: 300px;
  cursor: pointer;
}
.deleteContent {
  cursor: pointer;
}

.small-thumb {
  padding: 1px;
  width: 100px;
  height: 75px;
  overflow: hidden;
  float: left;
  cursor: pointer;
}
.small-thumb:hover {
  background-color: #ff6600;
}

.btn {
  padding: 20px;
  font-size: 1.1em;
  font-weight:bold;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			Metadata
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#description_area {
  display: inline-block;
  width: 45%;
}
#description_area > textarea {
  width: 100%;
  height: 60px;
  font-family: Helvetica, Lucida Sans Unicode, sans-serif;
  font-size: 1.2em;
  color: #333;
}
#optional_metadata {
  display: inline-block;
  width: 45%;
  float: right;
  vertical-align: top;
}
#optional_metadata input[type='radio'] {
  margin-left: 20px;
}
#classes_metadata label:first-child {
  margin-left: 0px;
}
#classes_metadata label {
  margin-left: 20px;
  display: inline-block;
}

#submit_game {
  margin: 30px auto 0px auto;
  display: block;
  font-size: 1.2em;
	text-decoration: none;
	color: #0da606;
	padding: 10px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  border: 2px solid #ebf6ea;
  border-radius: 3px;
}
#submit_game:hover {
	background-color: #ebf6ea;
}