* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: Trebuchet MS, Helvetica, Verdana, Arial, sans-serif;
  font-size: 1em;
  color: #333333;
  background-color: #194BA0;
  text-align: center;
  min-width: 900px;
}
img {
  border: none;
}
p {
  padding-bottom: 10px;
}
h1 {
  font-family: Trebuchet MS, Times, serif;
  color: #333;
}
h2 {
  font-family: Trebuchet MS, Times, serif;
  color: #194BA0;
  padding-top: 10px;
}
h3 {
  font-family: Helvetica, Lucida Sans Unicode, sans-serif;
  color: #333;
}
input {
  font-family: Helvetica, Lucida Sans Unicode, sans-serif;
  font-size: 1.2em;
  color: #333;
}
input[type="submit"] {
  font-size: 1em;
}
span.input_hint {
  font-size: .7em;
  color: #666;
}
button {
  font-size: .5em;
}
select {
  font-size: 1em;
}
a:link, a:visited, a:active {
  color:#FF6600;
}
a:hover {
  color:#FF6600;
  text-decoration: none;
}
a.invis {
  color: #FFF;
  text-decoration: none;
}
a.warning {
  color: #FF0000;
  text-decoration: none;
}
ul {
  padding-left: 2em;
  list-style-type: disc;
  list-style-position: inside;
}
hr {
  width: 95%;
  margin: 30px auto;
  color: #999;
}
fieldset {
  width: 50%;
  padding: 15px;
  margin: 0px auto;
  border: 1px dotted #CCC;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
br.clearFloat {
  clear: both;
}
.flash_info, .flash_success, .flash_notice, .flash_error {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.flash_info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('shared-buttons/flash_icons/info.png');
}
.flash_success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('shared-buttons/flash_icons/success.png');
}
.flash_notice {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('shared-buttons/flash_icons/warning.png');
}
.flash_error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('shared-buttons/flash_icons/error.png');
}
/*p.flash_success {
  border: 5px solid #476A34;
  color: #FFF;
  background-color: #458B00;
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
}
p.flash_notice {
  border: 5px solid #476A34;
  color: #FFF;
  background-color: #458B00;
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
}
p.flash_error {
  border: 5px solid #CC1100;
  color: #FFF;
  background-color: #FF6666;
  padding: 5px;
  margin-bottom: 20px;
  text-align: center
}*/
.errorExplanation {
  margin: 0px auto;
  padding: 15px 20px;
  background-color: #FFFFAA;
}
.errorExplanation h2 {
  font-family: Helvetica, Lucida Sans Unicode, sans-serif;
  color: #666;
}
.fieldWithErrors {
  padding: 5px 8px;
  background-color: #FFFFAA;
}
div.big_button {
  border: 0 none;
  cursor: pointer;
  padding: 0 10px 0 0;
  text-align: center;
  height: 52px;
  line-height: 52px;
  width: auto;

  background: transparent url('../images/big_button_right.gif') no-repeat scroll right top;
  clear: left;
  font-size: 1.2em;
}
div.big_button span {
  display: block;
  padding: 0 10px 0 20px;
  position: relative;
  white-space: nowrap;
  height: 54px;
  line-height: 54px;

  background: transparent url('../images/big_button_left.gif') no-repeat scroll left top;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #993300;
}
div.big_button:hover {
  background-position: 100% -52px;
}
div.big_button:hover span {
  background-position: 0% -52px;
}
div::-moz-focus-inner {
  border: none;
}
.swf_window {
	z-index: 1;
}

/*  ------------------- *
 *  General page layout *
 *  ------------------- */
#header {
  width: 905px;
  margin: 0 auto;
}
#header_home_link {
  float: left;
  width: 560px;
  height: 100px;
  background: url('/images/header_home_link.gif') no-repeat;
  margin-top: 5px;
  margin-left: 10px;
}
#header_frog {
  float: right;
  width: 222px;
  height: 113px;
  background: url('../images/header_frog.gif') no-repeat;
}
#nav {
  margin: 2px 5px 10px 0px;
  height: 1.8em;
  background-color: #FF6600;
  border: 1px solid white;
  font-size: 1.2em;
}
#nav ul {
  padding: 0px;
  margin: 0px;
}
#nav ul.login {
  padding: 0px;
  /*margin-right: 7px;*/ /* only used with graphic */
  float: right;
}
#nav li {
  float: left;
  list-style: none;
}
#nav li a {
  display: block;
    padding: 6px 14px;
    color: #FFFFFF;
  text-decoration: none;
  text-shadow: 2px 2px 2px #993300;
}
#nav li a:hover {
  color: #FF6600;
  text-shadow: none;
  background-color: #FFF;
}
#nav li ul {
  display: none;
  width: 12em;
  background-color: #FFF;
  border: 1px solid #FF6600;
}
#nav li:hover ul {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
	z-index: 2;
}
#nav li:hover li {
  float: none;
  text-align: left;
  font-size: .8em;
}
#nav li:hover li a {
  padding: 7px 6px;
  color: #FF6600;
  background-color: #FFFFFF;
  text-shadow: none;
  text-decoration: none;
}
#nav li li a:hover {
  color: #FFFFFF;
  text-shadow: none;
  background-color: #FF6600;
}
#body {
  width: 925px;
  padding: 0px auto;
  margin: 0px auto;
  text-align: left;
  background: url('../images/wrapper.gif') repeat-y;
}
#body_header {
  width: 925px;
  height: 35px;
  background: url('../images/body_header.gif') no-repeat;
}
.wrapper {
  padding: 0px 20px;
}
#body_footer {
  width: 925px;
  height: 38px;
  background: url('../images/body_footer.gif') no-repeat;
}
#footer {
  width: 905px;
  margin: 10px auto;
  background: #5786d6;
  border: 1px solid white;
}
#footer h4 {
  color: #FFF;
  font-size: 1.2em;
  font-family: Helvetica, Lucida Sans Unicode, sans-serif;
}
#footer p {
  font-size: .9em;
  font-family: Helvetica, Lucida Sans Unicode, sans-serif;
  color: #FFF;
  text-align: left;
  line-height: 1.25em;
}
#footer p.tag_line {
  font-size: .9em;
  color: #122d5d;
  text-align: center;
}
#footer p.copyright {
  padding-top: 5px;
  text-align: center;
}
#animat_links {
  float: left;
  width: 67%;
}
#prima_lingua {
  float: left;
  width: 50%;
}
#lz_camps {
  float: right;
  width: 50%;
}
#get_to_know_us {
  float: right;
  width: 30%;
  padding: 22px 2px 0px 5px;
}
#get_to_know_us > p {
	color: #122d5d;
}
#get_to_know_us > p > a {
	display: block;
	padding: 10px;
	margin: 5px 10px;
	color: #122d5d;
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
	background-color: #96B8F2;
}
#get_to_know_us > p > a:hover {
	color: white;
	background-color: #194BA0;
	text-decoration: underline;
}
/*  --------------------- *
 *  Shared pages elements *
 *  --------------------- */
.subheader_full {
  margin-top: 20px;
  padding: 15px 10px 5px 10px;
  /*background: url('../images/subheader_full.gif') no-repeat;*/
}
.subheader_half {
  width: 420px;
  margin-top: 20px;
  padding: 15px 10px 5px 10px;
  background: url('../images/subheader_half.gif') no-repeat;
}
.subheader_third {
  float: left;
  width: 240px;
  margin: 0px auto;
  padding: 10px 52px 0px 8px;
  background: url('../images/subheader_third.gif') no-repeat;
}
.supercheckbox_left_blank {
  float: left;
  width: 64px;
  height: 56px;
  margin: 0px;
  background: url('../images/shared-buttons/supercheckbox_left_blank.jpg') no-repeat;
}
.supercheckbox_left_checked {
  float: left;
  width: 64px;
  height: 56px;
  margin: 0px;
  background: url('../images/shared-buttons/supercheckbox_left_checked.jpg') no-repeat;
}
.supercheckbox_center {
  float: left;
  height: 56px;
  margin: 0px;
  padding-top: 16px;
  background: url('../images/shared-buttons/supercheckbox_center.jpg') repeat-x;
}
.supercheckbox_right {
  float: left;
  width: 25px;
  height: 56px;
  margin: 0px;
  background: url('../images/shared-buttons/supercheckbox_right.jpg') no-repeat;
}
.progressHeader {
  height: 56px;
  padding-top: 3em;
}
.progressHeader h3 {
  padding-top: 20px;
}
.progressHeader img {
  float: left;
  padding-right: 20px;
}
.progressContent {
  margin-left: 85px;
}
/*  ------------------- *
 *  Teachers section    *
 *  ------------------- */
#teacherNav {
  height: 81px;
  width: 1100px;
  margin: 0 auto;
  text-align: center;
  background: url('../images/teachers_nav_bg.gif') no-repeat;
}
ul#teacherMenu {
  margin: 0;
  padding: 30px 3px 3px 3px;
}
ul#teacherMenu li {
  display: inline;
  list-style: none;
  margin: 0.1em 2em;
  position: relative;
}
.jumpTo {
  width: 220px;
  position: absolute;
  top: 27px;
  left: 0px;
  padding: 0 8px 8px 8px;
  text-align: left;
  background: #ffc;
  border: 1px solid #dda;
}
.jumpTo h2 {
  font-family: Helvetica, Lucida Sans Unicode, sans-serif;
  margin: 0.8em 0em 0.25em 0em;
  font-size: 1.2em;
  color: #666;
}
.jumpTo p {
  margin: 0 0 0.3em 0;
  padding: 0;
  font-size: .8em;
}

.customText {
    color: #FF6600;
    text-align: center;
}
