#searchWordListsBanner {
	padding: 5px;
	background-color: #FFCC99;
	border-top: 2px solid #FF6600;
	border-bottom: 2px solid #FF6600;
}
#searchFields {
	color: #333;
	text-align: center;
}

#listWordLists {
	padding-top: 20px;
}