@media print{
	#instructions, h1{
		display:none;
	}
	table{
		border:none;
		margin:0;
		width:100%;
	}
	td {
		border-bottom: 1px dotted black;
		height: auto;
		padding: 0 5px 0 0;
	}
	td.left {
		border-right: none;
		padding: 0;
	}
}