fieldset {
	width: 50%;
	margin: 20px auto;
	background-color: #FFFFAA;
}

/* -----------
	  login
   ----------- */

p.helper_links {
	text-align: center;
}
fieldset.lz_login {
	width: 45%;
	float: left;
	background-color: #FAE2CF;
	border: 3px solid #FF6600;
}
fieldset.school_name_search_area {
	width: 80%;
	background-color: #FAE2CF;
	border: 3px solid #FF6600;
}
div.oauth_login{
	width: 45%;
	float: right;
	padding: 20px;
}
p.title_or {
	font-size: 3em;
	font-family: "Gill Sans / Gill Sans MT", sans-serif;
	color: #999;
	text-align: center;
}
#list_states ul {
	margin-left: 20px;
	padding: 0px;
}
#list_states ul li {
	list-style: none;
}
#list_states ul li a {
	display: block;
	width: 250px;
	padding: 3px;
	text-decoration: none;
}
#list_states ul li a:hover {
	background-color: #FF6600;
	color: #FFF;
}
#list_states ul li a span {
	padding-left: 3px;
	color: #666;
	font-size: .8em;
}
#list_states ul li a:hover span {
	display: none;
}

#list_schools ul {
	margin-left: 20px;
	padding: 0px;
}
#list_schools ul li {
	list-style: none;
}
#list_schools ul li a {
	display: block;
	width: 800px;
	padding: 3px;
	text-decoration: none;
}
#list_schools ul li a:hover {
	background-color: #FF6600;
	color: #FFF;
}
#list_schools ul li span {
	padding-left: 3px;
	color: #666;
	font-size: .8em;
}
#list_schools ul li a:hover span {
	display: none;
}
#list_schools li.sortable_courses {
	cursor: move;
	padding-top: 5px;
	padding-bottom: 5px;
}



/* -----------
	  index
   ----------- */
#list_classes {
	width: 100%;
}
#list_classes ul {
	width: 80%;
	margin: 0px auto;
	padding: 20px 0px;
	list-style-type: none;
}
#list_classes ul li span.course_name {
	font-size: 1.5em;
	text-decoration: underline;
	color: #111;
}
#list_classes ul li p.detail {
	font-size: .9em;
	color: #333;
}
#list_classes ul li a {
	color: #131313;
	text-decoration: none;
	text-align: center;
}
#list_classes ul li a:hover span.course_name {
	color: #333;
}
#list_classes li.go_to_course_button {
	color:#08233e;
	font-family: "Trebuchet MS", Futura, 'Century Gothic', AppleGothic, sans-serif;
	padding:14px;
	background:url("shared-buttons/button_overlay.png") repeat-x center #ffcc00;
	background-color:rgba(255,147,31,1);
	border:1px solid #ff6600;
	-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
	border-bottom:1px solid #9f9f9f;
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	cursor:pointer;
}
#list_classes li.go_to_course_button:hover{ 
	background-color:rgba(255,204,0,0.8);
	border:1px solid rgba(255,204,0,0.8); 
}
a.register_additional_class {
	float: right;
	color: green;
}
div#account_settings {
	margin-top: 10px;
}
div#account_settings span.not_on_file {
	color: #999;
	font-style: italic;
}
div.authentications {
	margin-top: 20px;
}
div.authentications div.authentication {
	width: 200px;
	height: 34px;
	border: 1px solid #C1C9EB;
	background-color: #EDEFF8;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}
div.authentications div.authentication span {
	position: relative;
	top: -10px;
}
div.authentications div.authentication a.remove {
	float: right;
	padding: 3px;
	color: #AD2929;
	text-decoration: none;
	font-size: .8em;
}

/* -----------
	  show
   ----------- */
ul#high_score_listing {
	margin-top: 30px;
	list-style-type: none;
}
ul#high_score_listing li {
	margin-top: 25px;
}
ul#high_score_listing li img {
	float: left;
	position: relative;
	top: -13px;
	left: -10px;
}
ul#high_score_listing li p.statsDetails {
	font-size: .9em;
	color: #666;
	line-height: .9em;
	margin-left: 60px;
	margin-top: 0px;
}