div.new_button {
	border: 0 none;
	cursor: pointer;
	padding: 0 20px 0 0;
	text-align: center;
	height: 62px;
	line-height: 62px;
	width: auto;
	background: transparent url('../images/teachers/new_button_right.gif') no-repeat scroll right top;
	clear: left;
	font-size: 1.1em;
}
div.delete_button {
	border: 0 none;
	cursor: pointer;
	padding: 0 20px 0 0;
	text-align: center;
	height: 62px;
	line-height: 62px;
	width: auto;
	background: transparent url('../images/teachers/delete_button_right.gif') no-repeat scroll right top;
	clear: left;
	font-size: 1.1em;
}
div.new_button span {
	display: block;
	padding: 0 5px 0 50px;
	position: relative;
	white-space: nowrap;
	height: 62px;
	line-height: 62px;
	background: transparent url('../images/teachers/new_button_left.gif') no-repeat scroll left top;
	font-family: Helvetica, sans-serif;
	color: #FFFFFF;
}
div.delete_button span {
	display: block;
	padding: 0 5px 0 50px;
	position: relative;
	white-space: nowrap;
	height: 62px;
	line-height: 62px;
	background: transparent url('../images/teachers/delete_button_left.gif') no-repeat scroll left top;
	font-family: Helvetica, sans-serif;
	color: #FFFFFF;
}
a div.new_button {
	color: #FFFFFF;
	text-decoration: none;
}
a div.delete_button {
	color: #FFFFFF;
	text-decoration: none;
}
div::-moz-focus-inner {
	border: none;
}

a.button:link, a.button:visited, a.button:active {
	color: #FFF;
	text-decoration: none;
}
a.button:hover {
	color: #FFF;
	text-decoration: underline;
}

/* -----------
	  login
   ----------- */

#login_helper_links {
	width: 60%;
	margin: 0px auto;
}
fieldset#login {
	background-color: #C9DEFF;
	border: 3px solid #194BA0;
}

/* -----------
	  index
   ----------- */
#enclose {
	float: left;
	width: 600px;
}
#notepad {
	float: left;
	width: 300px;
}
.notepadHeader {
	width: 267px;
	height: 28px;
	background: url('../images/teachers/index/notepad_header.gif') no-repeat;
}
.notepadHeader h2 {
	margin-left: 1.8em;
	padding-top: .25em;
}
.notepadBody {
	width: 267px;
	background: url('../images/teachers/index/notepad_body.gif') repeat-y;
}
.notepadBody ul {
	list-style-type: none;
	margin-right: 15px;
	padding: 8px 0px 0px 0px;
}
.notepadBody ul li a {
	display: block;
	padding: 5px;
	margin-left: 15px;
	text-decoration: none;
}
.notepadBody ul li a:hover {
	color: #194BA0;
}
.notepadFooter {
	width: 267px;
	height: 43px;
	background: url('../images/teachers/index/notepad_footer.gif') no-repeat;
}
#quickLinks {
	float: right;
	width: 250px;
}
#listClasses {
	float: right;
	width: 250px;
}
#listClasses h2 {
	padding: 0px 0px 10px 35px;
}
#listClasses ul {
	list-style-type: none;
}
#listClasses ul li {
	border-top: 1px solid #194BA0;
}
#listClasses ul li a {
	display: block;
	padding: 10px;
	text-decoration: none;
}
#listClasses ul li a:hover {
	color: #FFF;
	background: #FF6600;
	text-shadow: 1px 1px 1px #993300;
}

#news {
	margin: 20px;
	padding: 10px;
	background-color: #CCFFCC;
	border: 3px solid #008B00;
}
#news h3 {
	margin-top: 2px;
}
#my_account {
	float: left;
	width: 45%;
	padding: 2px 10px;
}
#my_prefs {
	float: right;
	width: 45%;
	padding: 2px 10px;
}
#renew {
	padding: 10px;
}
#extend {
	float: left;
	width: 45%;
	margin: 5px;
	padding: 10px;
	background-color: #FAE2CF;
	border: 3px solid #FF6600;
}
#upgrade {
	float: right;
	width: 45%;
	margin: 5px;
	padding: 10px;
	background-color: #C9DEFF;
	border: 3px solid #194BA0;
}
#upgrade_trial {
	width: 80%;
	margin: 0px auto;
	padding: 10px;
	background-color: #C9DEFF;
	border: 3px solid #194BA0;
}
a.purchase {
	color: #0D5213;
}
<<<<<<< HEAD
p.extra_config {
	margin-top: 50px;
}
a.reorder_classes {
	font-size: .9em;
	color: #333;
	text-decoration: none;
}
a.reorder_classes:hover {
	color: #666;
	text-decoration: underline;
=======
/* -----------
 course registrations
   ----------- */
table#list_registrations {
	width: 100%;
}
table#list_registrations td.user_authentications {
	font-size: .9em;
}
table#list_registrations td.last_login_time {
	font-size: .8em;
	color: #333;
}
a.unenroll_student_link, a.reset_password_link {
	font-size: .8em;
}
a.unenroll_student_link {
	color: red;
}
textarea.default_example {
	width: 600px;
	height: 60px;
	font-size: 1.1em;
	color: #999;
	font-style: italic;
	margin: 5px 0px;
}
textarea.user_input {
	width: 600px;
	height: 60px;
	font-size: 1.1em;
	color: #000;
	font-style: normal;
	margin: 5px 0px;
}
/* -----------
 	feed items
   ----------- */
li.feed_item {
	list-style-type: none;
	margin-bottom: 10px;
}
li.feed_item div.icon {
	float: left;
	width: 70px;
}
li.feed_item div.details {
	float: left;
	position: relative;
	top: 8px;
	left: 10px;
}
li.feed_item p {
	margin: 0px;
	padding: 0px;
}
li.feed_item p.preview {
	color: #999;
	font-size: .9em;
}
li.feed_item p.Comment {
	font-style: italic;
}
li.feed_item span.time_ago {
	color: #009900;
	font-size: .9em;
>>>>>>> manage-course-registrations
}