<% stylesheet "study" %>

<h1>Browse your word list</h1>
<p class="wordListTitle"><%= @list.description %></p>

<div id="notepad">
	<table cellspacing="0" width="621px">
	<% for node in @nodes do %>
		<tr>
			<% node.elements.each do |n| %>
				<% if n.name == "question" %>
					<td width="50%"><%=h n.attribute("content") %></td>
				<% else %>
					<td width="50%"><%=h n.attribute("content") %></td>
				<% end %>
			<% end %>
		</tr>
	<% end %>
	</table>
</div>
	
<div id="notepad_footer"></div>
