<% stylesheet 'play' %>

<h1>Catch the words</h1>
<p><%= @list.description %>!</p>

<div id="game_window">
	<div id="game" class="swf_window">
		<%= swf_tag '/swfs/catch.swf', {:id => "study", :flashvars => "listid=#{@list.id}&path=../../", :flash_version => "8", :parameters => {:path => "../../", :wmode => "transparent", :quality => "high"}} %>
	</div>
</div>